.dialog {
    background-color: rgba(250, 250, 250, 0.84);
    width: 40%;
    height: 450px;
    border-radius: 5px;
    z-index: 1; /*优先*/
    text-align: center;
    /* 实现对浏览器窗口的垂直居中 */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: #1b1c1d;
}

/* 弹出框的提示文字部分 */
.header {
    height: 90%;
    line-height: 60px;
    margin: 0 auto;
}

/* 弹出框的两个按钮部分 */
.footer {
    height: 10%;
    display: flex;
    flex-direction: row;
}

/* 取消和确认按钮的设置 */
.confirm, .cancel {
    outline: none;
    background-color: white;
    width: 50%;
    border-width: 3px;
}

.confirm {
    border-width: 1px 0px 0px 1px;
    border-bottom-right-radius: 5px;
}

.cancel {
    border-width: 1px 0px 0px 0px;
    border-bottom-left-radius: 5px;
}