<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
</head>
<body>
<div th:replace="temp/frags::navigator(6)"></div>
<div class="column">
    <a class="ui blue ribbon label">PUBLISH DETAILS</a>
    <div class="field">
        <div class="fields">
            <table class="ui definition table">
                <tbody>
                <tr style="display: none">
                    <td></td>
                    <td th:value="${publish.id}" name="id"></td>
                </tr>

                <tr>
                    <td class="three wide column">email</td>
                    <td>
                        <div class="ui corner labeled input">
                            <input th:value="${publish.email}" type="text" name="email" placeholder="bookName">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>
                        <div class="ui corner labeled input">
                            <input name="name" th:value="${publish.name}" type="text" placeholder="Search...">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>phone</td>
                    <td>
                        <div class="ui corner labeled input">
                            <input name="phone" th:value="${publish.phone}" type="text" placeholder="Search...">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>location</td>
                    <td>
                        <div class="ui corner labeled input">
                            <input name="location" th:value="${publish.location}" type="text" placeholder="Search...">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>place</td>
                    <td>
                        <div class="ui corner labeled input">
                            <input name="place" th:value="${publish.place}" type="text" placeholder="Search...">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br><br><br><br>
<div class="ui buttons">
    <button id="cancel" onclick="window.history.go(-1);" class="ui button">Cancel</button>
    <div class="or"></div>
    <button id="save" class="ui positive button">Save</button>
</div>

<div th:replace="temp/frags::footer"></div>
<script type="text/javascript" th:src="@{/js/publishingedit.js}"></script>
</body>
</html>